@import "libs/variables";

.header {
    border-bottom: 1px solid $color_lightGrey;

    @media (min-width: 768px) {
        padding-bottom: 10px;
    }
}

.section {
    &-about {
        padding-top: 24px;

        @media (min-width: 768px) {
            padding-top: 0;
            padding-bottom: 50px;
        }

        .heading {
            @media (min-width: 768px) {
                padding-bottom: 14px;
            }

            h2 {
                margin-bottom: 29px;
                font-size: 25px;
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 35px;
                }

                span {
                    font-size: 25px;
                    font-weight: 700;
                    color: $color_blue;
                    display: inline-block;

                    @media (min-width: 768px) {
                        font-size: 35px;
                    }
                }
            }
        }

        .item {
            @media (min-width: 1024px) {
                display: flex;
                align-items: flex-start;
            }
        }

        .description {
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            display: block;
            margin-top: 26px;
            margin-bottom: 29px;

            @media (min-width: 1024px) {
                max-width: 636px;
                margin-top: -8px;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                margin-bottom: 16px;
            }
        }

        .image {
            @media (min-width: 1280px) {
                min-width: 545px;
                margin: 0;
            }

            img {
                min-height: 196px;
                width: 290px;
                object-fit: cover;
                text-align: center;
                margin: 0 auto;
                display: block;

                @media (min-width: 1024px) {
                    width: 545px;
                    margin: 0;
                }
            }
        }

        .content {
            @media (min-width: 1024px) {
                padding-left: 7%;
            }

            h2 {
                font-size: 21px;
                font-weight: 500;
                margin-bottom: 25px;

                @media (min-width: 768px) {
                    font-size: 28px;
                }
            }
        }

        li {
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;
            padding-left: 40px;
            margin-bottom: 22px;
            position: relative;

            @media (min-width: 1400px) {
                padding-left: 48px;
            }

            &::before {
                position: absolute;
                top: 0;
                left: -9px;
                width: 42px;
                height: 42px;
                content: '';
                background-image: url(../img/icon-6.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &-advantages {
        padding-top: 40px;
        padding-bottom: 32px;

        @media (min-width: 1024px) {
            padding-top: 25px;
            padding-bottom: 89px;
        }

        .heading {
            margin: 0 auto;
            text-align: center;

            @media (min-width: 768px) {
                padding-bottom: 14px;
            }

            h2 {
                margin-bottom: 29px;
                font-size: 25px;
                font-weight: 700;

                @media (min-width: 768px) {
                    font-size: 35px;
                }

                span {
                    font-size: 25px;
                    font-weight: 700;
                    color: $color_blue;
                    display: inline-block;

                    @media (min-width: 768px) {
                        font-size: 35px;
                    }
                }
            }
        }

        .list {
            padding-top: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @media (min-width: 1024px) {
                padding-top: 31px;
                margin: 0 -34px;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 31px;
            width: 100%;

            @media (min-width: 480px) {
                width: 50%;
            }

            @media (min-width: 1024px) {
                width: 33%;
            }

            @media (min-width: 1280px) {
                width: 20%;
            }
        }

        .icon {
            margin-bottom: 21px;
            width: 74px;
            height: 74px;
            border: 11px solid #e1f3fa;
            background-color: $color_white;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            img {
                padding: 5px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;
            text-align: center;
            max-width: 200px;
            margin: 0 auto;
        }
    }

    &-form {
        @media (min-width: 768px) {
            padding-top: 90px;
            padding-bottom: 93px;
        }

        .heading h4 {
            display: none;
        }
    }
}