<footer class="footer">
    <div class="container">
        <div class="nav">
            <div class="logo">
                <a href="index.html"><img alt="" src="img/logo-footer.png"></a>
            </div>
            <div class="column">
                <a href="#" target="_blank">Политика обработки персональных данных</a>
                <p>© 2020 г., ООО «Omstal Pharma»</p>

            </div>
            <div class="column">
                <a href="index.html" class="subtitle">Главная</a>
                <a href="about.html" class="subtitle">О компании</a>
                <a href="products.html" class="subtitle">Продукты</a>
                <a href="cooperation.html" class="subtitle">Сотрудничество</a>
            </div>
            <div class="column">
                <a href="science.html" class="subtitle">Наука</a>
                <a href="reviews.html" class="subtitle">Отзывы и результаты</a>
                <a href="contacts.html" class="subtitle">Контакты</a>
            </div>
            <div class="column">
                <a href="#" class="link" target="_blank">Здесь будет ссылка</a>
                <a href="#" class="link" target="_blank">Здесь будет ссылка</a>
                <a href="#" class="link" target="_blank">Здесь будет ссылка</a>
            </div>
            <div class="column">
                <a href="tel:+74952555418" class="telephone">+7 (495) 255 54 18</a>
                <a href="mail-to:admin@opstafarma.ru" class="mail">admin@opstafarma.ru</a>
                <div class="social">
                    <a href="#" target="_blank" class="vk"><i class="icon-vk"></i></a>
                    <a href="#" target="_blank" class="fb"><i class="icon-fb"></i></a>
                    <a href="#" target="_blank" class="insta"><i class="icon-insta"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>