<section class="section section-form">
  <div class="overlay"></div>
  <div class="container holder">
    <div class="heading">
      <h4>
        <span class="count">06</span>
        Сотрудничество
      </h4>
      <h2>Оставить заявку на опт</h2>
      <button class="btn mobile">оформить</button>
    </div>
    <!-- Форма десктоп-->
    <form class="form">
      <span class="close"></span>
      <div class="form-row">
        <div class="form-column">
          <input required type="text" placeholder="Ваше имя">
          <input required type="text" placeholder="Ваш e-mail">
          <input required type="text" placeholder="Страна">
          <input required type="text" placeholder="Тема">
          <span class="eror active">Проверьте правильность ввода данных</span>
          <!-- за включение текста ошибки отвечает класс .active -->
        </div>
        <div class="form-column">
          <textarea placeholder="Введите сообщение"></textarea>
          <div class="form-action">
            <button class="btn thank">Оставить заявку <i class="icon-left-arrow"></i></button>
            <div class="pocket" style="background-image: url(img/pocket.png);"></div>
          </div>
          <div class="form-row-radio">
            <input type="radio" id="radio" name="radio">
            <label for="radio">
              Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
              <a href="javascript:void(0)" class="politic">Политикой Конфиденциальности
              </a>
            </label>
          </div>
        </div>
      </div>
    </form>
    <!-- Форма конец-->
</section>