<div class="menu-mobile">
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="products.html">Продукты</a></li>
            <li><a href="cooperation.html">Сотрудничество</a></li>
            <li><a href="science.html">Наука</a></li>
            <li><a href="reviews.html">Отзывы и результаты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
        <div class="contacts">
            <a href="#" class="btn">Проверить продукт</a>
            <a href="#" class="cooperation link-underline">сотрудничество</a>
        </div>
        <div class="links">
            <a href="#">Здесь будет ссылка</a>
            <a href="#">Здесь будет ссылка</a>
        </div>
    </nav>
</div>
<header class="header" id="header">
    <div class="header-top">
        <div class="container holder">
            <div class="links">
                <a href="#">Здесь будет ссылка</a>
                <a href="#">Здесь будет ссылка</a>
            </div>
            <a href="mail-to:admin@opstafarma.ru" class="mail">admin@opstafarma.ru</a>
            <ul class="languages">
                <li class="dropdown">
                    <span>RU<i class="icon-triangle"></i></span>
                    <ul>
                        <li><a href="javascript:void(0)">Ukr</a></li>
                        <li><a href="javascript:void(0)">Rus</a></li>
                        <li><a href="javascript:void(0)">Deu</a></li>
                        <li><a href="javascript:void(0)">Pol</a></li>
                    </ul>
                </li>
            </ul>
            <span class="open-menu">
                <span class="icon-burger"></span>
            </span>
        </div>
    </div>
    <nav class="nav">
        <div class="container holder">
            <div class="logo">
                <a href="index.html"><img alt="" src="img/logo.png"></a>
            </div>
            <div class="contacts">
                <a href="#" class="cooperation link-underline">сотрудничество</a>
                <a href="#" class="btn">Проверить продукт</a>
            </div>
        </div>
    </nav>
    <nav class="desctop-holder">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">О компании</a></li>
                <li><a href="products.html">Продукты</a></li>
                <li><a href="cooperation.html">Сотрудничество</a></li>
                <li><a href="science.html">Наука</a></li>
                <li><a href="reviews.html">Отзывы и результаты</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="overlay-header"></div>